@use '../../../styled/utils' as *;

.Mymusic_left {
    margin-right: vw(30);
    .Mymusic_left_profile {
        .left_profile {
            width: vw(920);
            height: vw(160);
            padding: vw(50) vw(60);
            border-radius: vw(20);
            background: rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 vw(4) 0 rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(25px);
            display: flex;

            .profile {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .profile_top {
                    width: vw(500);
                    margin-bottom: vw(40);
                    h2 {
                        font-size: vw(24);
                    }
                    p {
                        font-size: vw(14);
                    }
                }
                .profile_friend {
                    display: flex;
                    position: absolute;
                    top: vw(59);
                    right: vw(60);
                    .profile_follow {
                        text-align: center;
                        h2 {
                            font-size: vw(18);
                        }
                        p {
                            font-size: vw(16);
                        }
                    }
                    .profile_following {
                        text-align: center;
                        margin-left: vw(40);
                        h2 {
                            font-size: vw(18);
                        }
                        p {
                            font-size: vw(16);
                        }
                    }
                }
                .profile_bottom {
                    h2 {
                        font-size: vw(14);
                        display: flex;
                        strong {
                            font-size: vw(12);
                            margin-left: vw(30);
                        }
                    }
                    p {
                        font-size: vw(18);
                    }
                }
                // 이미지
            }
            .profileimg {
                display: flex;
                justify-content: center;
                width: vw(160);
                height: vw(160);
                img {
                    width: vw(160);
                    height: vw(160);
                    object-fit: cover;
                    border-radius: vw(500);
                    margin-right: vw(40);
                }
            }
        }
    }
}
